*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header
{
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: grid;
    grid-template-columns: 70% 30%;
}

header .brand
{
    padding-left: 2em;
    font-size: 1.5em;
    font-weight: bold;
}

header ul
{
    list-style: none;
}

header ul li
{
    display: inline;
    margin-left: 2em;
}

header a
{
    color: #EA485F;
}

.div1
{
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, rgba(144,52,100,1) 0%, rgba(183,118,52,1) 35%);
    padding-top: 5em;
    padding-bottom: 5em;
    color:white;
}

.div1 h1
{
    letter-spacing: 0.2em;
}

.div1 p
{
    font-size: 1.3em;
    margin-top: 0.4em;
    margin-bottom: 2em;
}

form
{
    width: 50%;
    margin-left: 25%;
    display: grid;
    grid-template-columns: 70% 30%;
}
form input[type=text]
{
    height: 30px;
    padding: 2em;
}
form input[type=button]
{
    height: 30px;
    border: none;
    background: #EA485F;
    color: white;
    font-size: 1.1em;
    padding: 1em 0 2.2em 0;
}

.div2
{
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: #F8F8F8;
}

.div2 h2
{
    color: #EA485F;
    text-align: center;
    position: relative;
}

.div2 h2::before
{
    content: '';
    background: #EA485F;
    height: 0.1em;
    width: 4.5em;
    position: absolute;
    bottom: 0;
    margin-left: 6.5em;
}


.ways
{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.way
{
    margin: 1em;
    font-size: 2em;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    text-align: center;
    padding: 1em;
    border-radius: 0.2em;
    background: #EA485F;
    color: white;
}

.div3
{
    width: 100%;
    padding-top: 3em;
    padding-bottom: 2em;
}

.div3 h2
{
    color: #EA485F;
    text-align: center;
    position: relative;
}

.div3 h2::before
{
    content:'';
    height: 0.1em;
    width: 5.7em;
    background: #EA485F;
    position: absolute;
    bottom: 0;
    margin-left: 7em;
}

.div3 p
{
    margin-top: 1em;
    text-align: center;
    margin-bottom: 4em;
}

.wrapper
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.wrapper h3
{
    font-size: 1.4em;
    text-align: center;
}

.wrapper div img
{
    width: 80%;
}

.wrapper div:nth-child(2)
{
    display: grid;
    grid-template-columns: 1fr;
}

.item{
    padding-top: 1em;
    padding-left: 1em;
    color: white;
    background: #EA485F;
    width: 80%;
    margin-top: 1em;
    height: 100px;
    border-radius: 0.3em;
}

.item p
{
    text-align: left;
}

footer{
    width: 100%;
    background: #EA485F;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1em;
}

footer div
{
    margin: 1em;
    margin-left: 2em;
}

footer div h5
{
    color: white;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
footer div p
{
    color: #F8F8F8;
}

footer ul
{
    list-style: none;
}

footer ul li a
{
    color: #F8F8F8;
}

address
{
    color: #F8F8F8;
}